@model ScopeVM

<div class="field">
  <div class="ui checkbox">


    <input class="consent-scopecheck"
           type="checkbox"
           name="ScopesConsented"
           id="scopes_@Model.Name"
           value="@Model.Name"
           checked="@Model.Checked"
           disabled="@Model.Required" />
    @if (Model.Required)
    {
      <input type="hidden"
             name="ScopesConsented"
             value="@Model.Name" />
    }

    <label>
      @Model.DisplayName

      @if (Model.Required)
      {
        <span><em>(required)</em></span>
      }

    </label>
  </div>
  @if (Model.Description != null)
  {
    <div class="consent-description">
      <label for="scopes_@Model.Name">@Model.Description</label>
    </div>
  }

</div>