@model ConsentVM

<div class="ui container">
  <div class="ui segment block colour">
    <h1>
      @Model.ClientName
      <small>is requesting your permission</small>
    </h1>

    @if (Model.ClientLogoUrl != null)
    {
      <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
    }

    @Html.Partial("_ValidationSummary")

    <form asp-action="Index" class="ui form">
      <input type="hidden" asp-for="ReturnUrl" />

      <div class="ui visible message">
        <p>Uncheck the permissions you do not wish to grant.</p>
      </div>

      @if (Model.IdentityScopes.Any())
      {

        <h3>
          <i class="user icon"></i>
          Personal Information
        </h3>

        @foreach (var scope in Model.IdentityScopes)
        {
          @Html.Partial("_ScopeListItem", scope)
        }
      }

      @if (Model.ResourceScopes.Any())
      {
        <h3>
          <i class="tasks icon"></i>
          Application Access
        </h3>

        @foreach (var scope in Model.ResourceScopes)
        {
          @Html.Partial("_ScopeListItem", scope)
        }
      }

      @if (Model.AllowRememberConsent)
      {
        <div class="field">
          <div class="ui checkbox">
            <input class="consent-scopecheck" asp-for="RememberConsent" />
            <label>Remember My Decision</label>
          </div>
        </div>

      }

      <div class="consent-buttons">
        <button name="button" value="yes" class="ui primary button" autofocus>Yes, Allow</button>
        <button name="button" value="no" class="ui button">No, Do Not Allow</button>
        @if (Model.ClientUrl != null)
        {
          <a target="_blank" href="@Model.ClientUrl">
            <i class="info icon"></i>
            @Model.ClientName
          </a>
        }
      </div>

  </div>
</div>






    </form>
  </div>
</div>
</div>