@model UsersVM

@{
  ViewData["Title"] = "Users";
}

<h2>@ViewData["Title"]</h2>

@Html.Partial("_StatusMessage", Model.StatusMessage)

@if (Model.Users.Any())
{
  <table class="table">
    <thead>
      <tr>
        <td></td>
        <th scope="col">User</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>

      @foreach (var u in Model.Users)
      {
        <tr>
          <td><a asp-area="" asp-controller="Users" asp-action="UpdateRole" asp-route-id="@u.Id">Update Role</a></td>
          <td>@u.UserName</td>
          <td>@u.FirstName @u.LastName</td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <p>No users found</p>
}
