@model UserRolesVM

@{
  ViewData["Title"] = "Update User Roles";
}


<div class="ui container">
  <div class="ui segment block colour">

    <h1>@ViewData["Title"]</h1>
    @Html.Partial("_StatusMessage", Model.StatusMessage)

    <form method="post" asp-action="UpdateRole" class="ui form">
      <input type="hidden" asp-for="Id" />
      <input type="hidden" asp-for="UserName" />
      <div class="field">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" disabled />
      </div>
      <div class="field">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" disabled />
      </div>
      <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" disabled />
      </div>

      <h3>User Roles</h3>

      @{ int i = 0; }
      @foreach (var chk in Model.UserRoles)
  {
    <div class="field ">
      <div class="ui checkbox">
        <input type="checkbox" asp-for="@Model.UserRoles[i].IsChecked" />
        <label asp-for="@Model.UserRoles[i].IsChecked">@Model.UserRoles[i].DisplayName</label>
        <input type="hidden" asp-for="@Model.UserRoles[i].Id" />
        <input type="hidden" asp-for="@Model.UserRoles[i].DisplayName" />
      </div>

    </div>
i++;
}
      <button type="submit" class="ui primary button">Save</button>
      <a asp-action="Index">Cancel</a>
    </form>
  </div>
</div>
